<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        {% comment %} <meta name="viewport" content="width=device-width, initial-scale=1"> {% endcomment %}
        <title>index page</title>
        {% comment %} <link rel="stylesheet" href="styles.css"> {% endcomment %}
        <script
            src="https://code.jquery.com/jquery-3.7.1.min.js"
            integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
            crossorigin="anonymous">
        </script>
    </head>

    <body>
        <button id="connect_button">Connect with socket</button>
        <script>
            $('#connect_button').click(function(){
               {% comment %} alert('Click!!!');  {% endcomment %}
               var ws = new WebSocket('ws://localchost:8000/market');
            });
        </script>
    </body>

</html>